<!-- app.component.html -->
<app-header></app-header>
<div class="container">
  <div class="content">
    <div class="calendar-container">
      <app-calendar></app-calendar> <!-- Votre composant de calendrier -->
      <div class="buttons-container">
        <button class="button">Toutes</button>
        <button class="button">Matin</button>
        <button class="button">Après Midi</button>
      </div>
    </div>
    <div class="map-container">
      <app-map></app-map> <!-- Votre composant de carte -->
    </div>
  </div>
</div>
